In [1]:
CREATE TABLE Movie(
    MovieID INT IDENTITY(1,1) PRIMARY KEY,
    Title CHAR(50) NOT NULL
)

In [2]:
CREATE TABLE Author(
    AuthorID INT IDENTITY(1,1) PRIMARY KEY,
    AuthorName CHAR(50) NOT NULL
)

In [3]:
CREATE TABLE MovieDetail(
     MovieID INT FOREIGN KEY REFERENCES Movie ON DELETE CASCADE,
     AuthorID INT FOREIGN KEY REFERENCES Author ON DELETE CASCADE
)

In [4]:
CREATE UNIQUE INDEX MovieAuthorCK ON MovieDetail(MovieID,AuthorID)

In [1]:
CREATE TABLE "User"(
    UserID INT IDENTITY(1,1) PRIMARY KEY,
    Gender CHAR(6) NOT NULL,
    Country CHAR(25) NOT NULL,
    Username CHAR(64) NOT NULL UNIQUE,
    "Password" CHAR(64) NOT NULL
)

In [2]:
CREATE TABLE "Like"(
    UserID INT FOREIGN KEY REFERENCES "User" ON DELETE CASCADE,
    MovieID INT FOREIGN KEY REFERENCES Movie ON DELETE CASCADE,
    LikeOrDislike CHAR(3)
)

: Msg 1767, Level 16, State 0, Line 1
Foreign key 'FK__Like__MovieID__15702A09' references invalid table 'Movie'.

: Msg 1750, Level 16, State 1, Line 1
Could not create constraint or index. See previous errors.

In [ ]:
CREATE UNIQUE INDEX UserLikeCK ON "Like"(UserID,MovieID)